# Dependencies
/node_modules/

# Build outputs
/build/
# If you use `create-react-app`, the `build` directory is where the production build files are generated.

# System files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
# Include the .env file if you are using environment variables in your project.

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Miscellaneous
*.log
*.tmp
*.temp
